.headshots-container {
  height: 100vh;
  padding: 2rem;
  margin: 0px;
  box-sizing: border-box;
  display: grid;
  place-items: center;

  .carousel-container {
    width: 60%;
    max-width: 640px;
    margin: auto;
    height: auto;
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);

    #prevBtn {
      position: absolute;
      top: 50%;
      z-index: 1;
      left: 5%;
      font-size: 30px;
      color: $secondary-color;
      opacity: 0.5;
      cursor: pointer;
    }
    #nextBtn {
      position: absolute;
      top: 50%;
      z-index: 1;
      right: 5%;
      font-size: 30px;
      color: $secondary-color;
      opacity: 0.5;
      cursor: pointer;
    }

    .carousel-slide {
      display: flex;
      max-width: 100%;
      height: auto;

      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}
