// widescreens
@include mediaXl {
  body#bg-img {
    background: url(../img/peter-headshot-xl-screens.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
  }

  .menu-btn {
    right: 60px;
    top: 60px;
  }

  main {
    align-items: center;
    text-align: left;

    &#contact {
      padding: 2rem;
    }

    &#home h1 {
      margin-top: 5vh;
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 2rem;
    }

    .sm-heading {
      font-size: 2rem;
      margin-top: 2rem;
    }
  }
  .tagline-box {
    position: fixed;
    bottom: 10rem;
    left: 3rem;
    padding: 0 1rem 0 0;
  }

  .media {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "img showreel music showshots";

    .item {
      padding: 0;
    }

    iframe {
      height: 100%;
    }
  }

  .form-holder {
    align-items: center !important;
    display: grid;
    place-items: center;
  }
}

//Desktops and laptops
@include mediaLg {
  body#bg-img {
    background: url(../img/peter-headshot-tablet-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
  }

  main {
    align-items: center;
    text-align: left;

    &#home h1 {
      margin-top: 5vh;
    }

    .lg-heading {
      line-height: 1;
    }

    .sm-heading {
      font-size: 2rem;
    }
  }

  .tagline-box {
    position: fixed;
    bottom: 8rem;
    left: 5rem;
    padding: 0 1rem 0 0;
  }

  .media {
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
      ". img img img . showreel showreel showreel . "
      ". music music music . showshots showshots showshots .";

    .item {
      padding: 0;
    }
  }

  .form-holder {
    align-items: center !important;
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0;
  }

  .bottom-circle {
    transform: translate(-120%, 18%);
  }
}

//tablets and small laptops

@include mediaMd {
  body#bg-img {
    background: url(../img/peter-headshot-portrait-tablet-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;

    &:after {
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
    }
  }

  main {
    align-items: center;
    text-align: left;

    &#home {
      position: relative;

      .tagline-box {
        position: absolute;
        bottom: 2rem;
        left: 4rem;
        padding: 0 1rem 0 0;
      }
    }

    &#home h1 {
      margin-top: 5vh;
    }

    .lg-heading {
      line-height: 1;
      margin-bottom: 2rem;
    }
    .sm-heading {
      font-size: 3rem;
    }
  }

  .menu ul.menu-nav,
  .menu div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
    font-size: 2rem;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(-100%, 0, 0);

    &.show {
      transform: translate3d(0, 0, 0);
    }

    .portrait {
      background: url(../img/peter-headshot-portrait-small.jpg);
      width: 150px;
      height: 150px;
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }

  .media {
    grid-template-columns: repeat(3, 1fr);
  }

  .form-holder {
    align-items: center !important;
    display: grid;
    place-items: center;
    width: 100%;
    padding: 0;

    .form {
      grid-template-columns: 1fr !important;

      .contact-form:before {
        top: -13px;
        left: initial;
        right: 70px;
      }
    }

    .contact-info:before {
      bottom: initial;
      top: -75px;
      right: 45px;
      transform: scale(0.95);
    }

    .bottom-circle {
      transform: translate(30%, 43%);
      height: 350px;
    }

    .big-circle {
      bottom: 75%;
      transform: scale(0.9) translate(-40%, 30%);
      right: 50%;
    }

    .bottom-circle {
      display: none;
    }

    .text {
      margin: 1rem 0 1.5rem 0;
    }
  }

  .headshots-container {
    .carousel-container {
      width: 90%;
      height: auto;

      img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}

//Small tablets
@include mediaMs {
  body#bg-img {
    background: url(../img/peter-headshot-portrait-tablet-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    background-position: center;
    background-repeat: no-repeat;
  }

  main {
    align-items: center;
    text-align: left;

    &#home h1 {
      margin-top: 3vh;
    }

    .lg-heading {
      line-height: 1;
      font-size: 3rem;
      margin-top: 1rem;
    }

    .sm-heading {
      font-size: 2rem;
    }
  }

  .media {
    grid-template-columns: 1fr;
    grid-template-areas:
      "img"
      "showreel"
      "music"
      "showshots";
  }
}

//smartphones
@include mediaSm {
  body#bg-img {
    background: url(../img/peter-headshot-larger-smartphones-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
  }
  main {
    padding: 2rem;
    align-items: left;
    text-align: left;

    &#home {
      .tagline-box {
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        padding: 0 1rem 0 0;
      }
    }

    &#home h1 {
      margin-top: 3vh;
    }

    .lg-heading {
      line-height: 1;
      font-size: 3rem;
      margin-top: 1rem;
    }

    .sm-heading {
      font-size: 1.5rem;
    }
  }
  .form {
    padding: 0;
  }
  .bottom-circle {
    display: none;
  }
  .contact-info:before {
    display: none;
  }

  .headshots-container {
    .carousel-container {
      width: 95%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
// small smartphones
@include mediaXs {
  body#bg-img {
    background: url(../img/peter-headshot-larger-smartphones-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
  }

  main {
    padding: 2rem;
    align-items: center;
    text-align: left;

    &#home h1 {
      margin-top: 5vh;
    }

    .lg-heading {
      line-height: 1;
      font-size: 3rem;
      margin-top: 1rem;
    }
    .sm-heading {
      font-size: 1.5rem;
    }
  }
}
// x-small smartphones
@include mediaXxs {
  body#bg-img {
    background: url(../img/peter-headshot-small-mobile-background.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;

    background-position: center;
    background-repeat: no-repeat;
  }
  main {
    padding: 2rem;
    align-items: center;
    text-align: left;

    &#home h1 {
      margin-top: 5vh;
    }

    .lg-heading {
      line-height: 1;
      font-size: 3rem;
      margin-top: 1rem;
    }
    .sm-heading {
      font-size: 1.5rem;
    }
  }

  .menu-branding {
    .portrait {
      background: url(../img/peter-headshot-portrait-small.jpg);
      background-size: cover;
      background-position: center;
      width: 100px;
      height: 120px;
    }
  }
}
