@import "config";
@import "header";
@import "mains";
@import "menu";
@import "form";
@import "headshots";
@import "loader";

* {
  box-sizing: border-box;
}

body {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  @include background();
  height: 100%;
  margin: 0;
  font-family: "Noto Sans JP", "Segoe UI", Tahoma, Verdana, sans-serif;
  line-height: 1.5;

  background: $primary-color;
  color: set-text-color($primary-color);
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
    margin-bottom: 2rem;
  }
  &.sm-heading {
    margin-bottom: 1rem;
  }
}

.my-1 {
  margin: 0 0 1rem 0;
}

a {
  color: set-text-color($primary-color);
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}
.text-secondary-lighter {
  color: lighten($secondary-color, 40%);
}

.tagline-box {
  position: fixed;
  bottom: 5rem;
  left: 2rem;
  padding: 0 1rem 0 0;
}

.spotlight-icon {
  padding-top: 4px;
  width: 32px;
  height: 32px;

  &:hover {
    filter: brightness(0) saturate(100%) invert(78%) sepia(49%) saturate(7175%)
      hue-rotate(153deg) brightness(95%) contrast(88%);
    // @include easeOut();
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-img {
    grid-area: bioimage;
    margin: auto;
    border-radius: 5%;
    border: $secondary-color 3px solid;
  }

  .bio {
    grid-area: bio;
    font-size: 1.4rem;
  }

  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.6rem;
    border-bottom: $secondary-color 3px solid;
    border-right: $secondary-color 3px solid;
    border-top: lighten(set-text-color($secondary-color), 25) 1px solid;
    border-left: lighten(set-text-color($secondary-color), 25) 1px solid;

    border-radius: 5px;
    line-height: 1.7rem;

    &:hover {
      border: $secondary-color 3px solid;
      -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
      @include easeOut;

      .text-secondary {
        font-size: 1.3rem;
      }
    }
  }
}

//media

.bg-lines {
  background: linear-gradient(
    to bottom,
    lighten($primary-color, 10),
    darken($primary-color, 15)
  );
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.media {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "img showreel showreel"
    "music music showshots";

  .item {
    text-align: center;
  }

  .item:nth-child(1) {
    grid-area: img;
  }
  .item:nth-child(2) {
    grid-area: showreel;
  }
  .item:nth-child(3) {
    grid-area: music;
  }
  .item:nth-child(4) {
    grid-area: showshots;
  }

  h3.item-header {
    font-size: 2rem;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }

  iframe {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.75);

      border-color: $secondary-color;
      @include easeOut;
    }
  }

  .media-btn {
    padding: 0.6rem 1.3rem;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fafafa;
    font-size: 0.95rem;
    font-weight: 600;
    line-height: 1;
    border-radius: 25px;
    outline: none;
    cursor: pointer;

    transition: 0.3s;

    &:hover {
      color: $secondary-color;
      background-color: #fff;
    }
  }
}

.grow {
  img {
    z-index: 11;
    transform: scale(6) translate(25%, 0%) !important;
  }
}

// contact page

#contact {
  display: grid;
  place-items: center;
}

.contact-note {
  margin: 2rem 0rem;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 0.8rem;

  div {
    font-size: 1rem;
    border: 3px #fff solid;
    border-radius: 20px;
    padding: 0.5rem 0.5rem;
    margin-bottom: 1.5rem;
    @include easeOut;

    a {
      color: set-text-color(lighten($secondary-color, 40));
    }

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color(lighten($secondary-color, 40));
      span {
        color: set-text-color(lighten($secondary-color, 40));
      }
    }
  }
}

.back-button {
  position: absolute;
  top: 35px;
  left: 35px;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
  z-index: 1;
}

@import "mobile";
